*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-text: 'Roboto', sans-serif;

  --color-nav: #C4C4CC;
}

body {
  font-size: 1.6rem;
  background: url('images/mountains-universe-1.png');

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  transition: linear .4s;
}

header {
  display: flex;
  padding: 4rem 7.2rem;
  align-items: center;
}

header nav a {
  font-family: var(--ff-text);
  font-weight: 400;
  text-decoration: none;

  font-size: 2.2rem;
  line-height: 2.2rem;
  
  color: var(--color-nav);
}

header img {
  margin-right: 3.2rem;
}

nav {
  display: flex;
  gap: 4.2rem;
}

.content-home {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: calc(90vh - 15rem);
}

.content-home h1 {
  font-family: var(--ff-text);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;

  text-align: center;

  color: #FFFFFF;
}

.content-home button {
  width: 19rem;
  height: 4.8rem;

  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: .5rem;

  color: #ffffff;

  font-family: var(--ff-text);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;

  margin-top: 2rem;

  cursor: pointer;

  transition: .3s;
}

.content-home button:hover {
  transform: scale(1.05);
  background: #ffffff;
  color: #02799D;
}


.text-content {
  margin: 6.3rem 0 0 10.2rem;
  color: #FFFFFF;

  font-family: var(--ff-text);
}

.text-content h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;;
}

.text-content p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;

  width: 64.8rem;
}

.remove404 {
  opacity: 0;
  visibility: hidden;
}

.select {
  font-weight: 700;
}

